$primaryFont: 'Work Sans', sans-serif!important;
$secondaryFont:'Roboto', sans-serif!important;
$descriptionFontSize:1.15em!important;
$titleFontSize:3.25em!important;
$primaryDark:#2D3B46!important;

//main things & personal//

.fullWrap{
  padding-left: 0!important;
  padding-right: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  margin:0!important;
}

.hPadding{
  padding-top: 25px!important;
  padding-bottom: 25px!important;
}

.titleWhite{
  font-family: $primaryFont;
  font-size: $titleFontSize;
  color:white!important;
}

.titleDark{
  font-family: $primaryFont;
  font-size: $titleFontSize;
  color: $primaryDark;
}

.borderThick{
  border-style: solid;
  border-color: blue;
  border-width: medium;
}


body,html {
  height: 100%!important;
  margin: 0 !important;

}

.card{
        box-shadow: 0 4px 4px 0 rgba(0,0,0,.4);
}


////////////////

//Home//

#Home{
    background-image: url('../assets/appleBackground.jpg')!important;
    height: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-left: 0!important;
    padding-right: 0!important;
}

.nav-link{
  font-family: $primaryFont;
  font-size: 1.1em!important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: black;
}
.navbar-nav li a.active {
  color: $primaryDark;
}

.navbar-toggler {
  border: 0px !important;
}

#initials{
  height: auto;
  width:40%;
  // size:100% auto;
    // background-attachment: fixed;
        // width:40%;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.code{
  color:rgb(0,255,0) !important;
  font-size:1.7em;
}


///////////////////


////About//////

#About{
  background-color: $primaryDark;
  // background-color: black;

}

#mePicture{
  height: auto;
  width: 90%;
  // padding-bottom: 10px!important;
}

#mePicturePadding{
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

.description{
  font-size: $descriptionFontSize;
  font-family: $secondaryFont;
  text-align: justify;
  color:white!important;
}



//////////////

#Projects{

}

#subProjects{
  // background-color: $primaryDark;
}

.projectsTitleCard{
  font-family: $primaryFont;
  color: white!important;
  font-size: 2.5em;
}


.flip-container.hover .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 100%;
    height: 635px;
}



.flipper {
    transition: 2s;
      -webkit-transition: 2s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: auto;

}



.front,
.back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.fakefront{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}



.front {
    z-index: 2;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}



.back {
    transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
    background-color: #fff;
}

#fareRideCover {
  height: 100%!important;
  background-image: url('../assets/fareRideShow.jpg')!important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

}


#amazonDRSCover {
  height: 100%!important;
  background-image: url('../assets/amazonDRSShow.jpg')!important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}


#openSpotCover {
  height: 100%!important;
  background-image: url('../assets/openSpotShow.jpg')!important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}



.front:hover{
  filter: blur(4px);
  -webkit-filter: blur(4px);


    transition: .5s;
      -webkit-transition: .5s;
      box-shadow: 0 15px 30px 0 rgba(0,0,0,1);
      -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,1);
      cursor: pointer;
      // background-size: 200%!important;
}

.fakefront:hover{
        cursor: pointer;
}




// .front:hover ~ .fakefront{
//   font-size: 1.2em;
//   transition: 1s;
//     -webkit-transition: 1s;
// }

// .fakefront:hover{
//   transition: 1s;
//   -webkit-transition: 1s;
//     font-size: 1.2em;
//
// }



.realCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

nav{
  z-index: 99 !important;
  // padding-left: 0!important;
  // padding-right: 0!important;
}

#navContainer{
  padding-top: 10px!important;
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.fare{
  padding-right:3px!important;
  padding-left:3px!important;
  padding-bottom: 13px!important;
}



.page-footer{
  padding-bottom: 0px!important;
  margin-bottom: auto!important;
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
