.bg-whiteTransparent{
  background:rgba(255,255,255, 0.5) !important;
}

.borderThick{
  border-style: solid;
  border-color: blue;
}

#projectPics{
  height: 400px;
  width:auto;
  margin:0 auto;
}

.container-fluid {
    padding-right:0!important;
    padding-left:0!important;
    margin-right:auto!important;
    margin-left:auto!important;
 }

#home{
  // size:100% auto;
    background-attachment: fixed;
    height: auto;
    width:100%;
    padding-top: 50px;

}
#initials{
  // size:100% auto;
    // background-attachment: fixed;
    height: auto;
    width:40%;
}

#mePicture{
  height: auto;
  width: 80%;
  margin:0 auto;
}

// .navbar-nav li a:hover, .navbar-nav li.active a {
//     color: red !important;
// }
.navbar-toggler {
  border: 0px !important;

}


.splits {
  padding:  60px 0;
  padding-right:15px!important;
  padding-left:15px!important;
  margin-right:auto!important;
  margin-left:auto!important;
}


// .page-footer{
//   padding-bottom: 0px!important;
//   margin-bottom: auto!important;
// }

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
