// $bg-color: white;
//

.container-fluid {
    padding-right:0!important;
    padding-left:0!important;
    margin-right:auto!important;
    margin-left:auto!important;
 }

#home{
  // size:100% auto;
    // background-attachment: fixed;
    height: auto;
    width:100%;
}
#dog{
  // size:100% auto;
    // background-attachment: fixed;
    height: auto;
    width:40%;
}

// .navbar-nav li a:hover, .navbar-nav li.active a {
//     color: red !important;
// }
.navbar-toggler {
  border: 0px !important;

}


.splits {
  padding: 200px 0;
  padding-right:15px!important;
  padding-left:15px!important;
  margin-right:auto!important;
  margin-left:auto!important;
}

#mePicture{
  height: auto;
  width: 80%;
}
// .page-footer{
//   padding-bottom: 0px!important;
//   margin-bottom: auto!important;
// }

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";
