/* INDEX
CSS */

#mainID {
  /* border-style: solid;
  border-color: blue;
  border-width:medium; */

  position:absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  width:inherit;
  height: 186px;
  overflow: hidden;
}

#centerLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#enterButtonCenter{
display: block;
margin-left: auto;
margin-right: auto;
background-color:#ffffff;
border:1px solid #000000;
cursor:pointer;
color:#000000;
font-family:Helvetica;
font-size:18px;
padding:5px 20px;
text-decoration:none;
/* display:inline-block; */
/* border-radius:15px; */
}

#enterButtonCenter:hover{
  background-color: black;
  color: white;
}



/* mainPage
CSS */

#navBar {
    /* border-style: solid;
    border-color: blue;
    border-width:medium; */

    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    position:fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width:100%; /* Full width */
}

#logo{
  /* border-style: solid;
  border-color: green;
  border-width:medium; */

  float: left;
  display: block;
  margin-left: 100px;
  padding: 5px 10px;
  padding-top: 15px;
  width: 5%;
  height: auto;
}


/* Links inside the navbar */
#navBar a {
  /* border-style: solid;
  border-color: orange;
  border-width:medium; */

  float: right;
  display:inline block;
  /* margin-top: 15px; */
  padding: 26px 10px;


  color: black;
  text-align: center;
  font-size: 17px;
  font-family: Helvetica Neue;
  text-decoration: none;
  vertical-align: middle;

}

a.right {
  margin-right: 95px;
}


#navBar big{
  /* border-style: solid;
  border-color: orange;
  border-width:medium; */

  float: right;
  display: inline;
  /* margin-right: 5px; */
  /* margin-top: 25px; */
  padding: 26px 0px;

  color: black;
  text-align: center;
  font-size: 17px;
  /* font-style: Times; */

}

/* Change background on mouse-over */
#navBar a:hover {
    /* background: black; */
    color: #D8BFD8;
}

#mainPic {
  /* border-style: solid;
  border-color: blue;
  border-width: medium; */

  width: 100%;
  height: 895px;
  overflow: hidden;
  margin-top: 72px;
}

#flowerPic{
  /* border-style: solid;
  border-color: pink;
  border-width:medium; */

  overflow: hidden;
  width: 100%;
  height: auto;
}

#About{
  border-style: solid;
  border-color: blue;
  border-width: medium;

  width: 100%;
  height: 895px;
  overflow: hidden;
}
