body {
  /* background-image: url(/assets/backgroundImage.jpg); */
  background-repeat: no-repeat;
  background-size: 100% auto; }

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: red !important; }

.navbar-toggler {
  border: 0px !important; }

.jumbotron {
  background-color: #4d2929 !important;
  border-top: 3px solid #dbdbdb; }

.row {
  background-color: green; }
